# System files
# ------------

Icon
.DS_Store

# Node files
# ------------
node_modules
.env

# Temporary files
# ---------------

/public/media/*
!/public/media/index.html

# Content files
# ------------
/public/content/*

# Distributed files
# ------------
/public/assets/*

# No commercial fonts in public repo
# ---------------
/src/fonts/*

# Kirby files
# ------------
/public/kirby/*
/public/vendor/*

# Plugins
# ------------
/public/site/plugins/*

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/public/site/cache/*
!/public/site/cache/index.html

# Accounts
# ---------------

/public/site/accounts/*
!/public/site/accounts/index.html

# Sessions
# ---------------

/public/site/sessions/*
!/public/site/sessions/index.html

# License
# ---------------

/public/site/config/.license
