/* purgecss start ignore */

/*** Typography ***/
h1, h2 {
  @apply font-bold ;
  @apply text-lg;
  @apply md:text-xl;
}
h4 {
  @apply mb-4;
  @apply text-md;
  @apply font-bold;
}

/*** Header ***/
header {
  @apply flex flex-col justify-end;
  @apply h-28;
  @apply mb-8;
  @apply pb-4;
  @apply border-b;
  @apply border-gb-dark;
  @apply dark:border-white;
}
#header header {
  @apply mb-px;
  @apply dark:border-gb-dark;
}
#header header h2 {
  @apply font-normal ;
  @apply text-base;
  @apply md:text-base;
}
#header svg {
  @apply w-14 h-14;
  @apply text-logo;
  @apply md:w-16 md:h-16;
}

/*** Article ***/
article {
  @apply mb-12;
  @apply px-4;
}
article a {
  @apply text-gb;
}
article p {
  @apply mb-4;
}

/*** Tags ***/
.tags {
  @apply flex;
  @apply flex-wrap;
}
.tags li {
  @apply mr-1;
  @apply mb-1;
  @apply bg-white;
  @apply text-gb;
  @apply leading-tight;
  @apply text-xs;
  @apply sm:text-sm;
  @apply dark:bg-gb-dark;
  @apply dark:text-white;
}
.tags li span, .tags li a {
  @apply px-2;
  @apply py-0.5;
  @apply block;
}
.tags li a {
  @apply transition-colors;
  @apply border-b border-gb-light;
  @apply hover:bg-white;
  @apply hover:text-gb-dark;
  @apply hover:border-gb;
  @apply dark:text-white;
}
.tags li strong {
  @apply font-medium;
  @apply text-gb-dark;
  @apply dark:text-gb-light;
}
.tags li a:hover strong {
  @apply text-black;
}
.tags li i {
  @apply not-italic;
}
.tags li svg {
  @apply inline-block;
  @apply w-4 h-4;
  @apply mr-0.5;
}
#overlay-container .tags li {
  @apply dark:bg-gb;
}

/** Portfolio thumbnails & hover-states **/
.js .portfolio__thumb {
  @apply cursor-pointer;
  @apply hover:shadow-xl;
}
.js .portfolio__thumb figcaption {
  @apply will-change-[color,background-color];
  @apply transition-colors;
  @apply duration-300;
  @apply ease-in-out;
}
.js .portfolio__thumb:hover figcaption {
  @apply text-white;
  @apply bg-gb-dark;
}
.js .portfolio__thumb img {
  @apply will-change-transform;
  @apply transition-transform;
  @apply duration-300;
  @apply ease-in-out;
  @apply transform;
}
.js .portfolio__thumb:hover img {
  @apply -translate-y-16;
}
.js .portfolio__thumb:hover figcaption >strong {
  @apply text-white;
}
.js .portfolio__thumb:hover figcaption >span {
  @apply text-gb-light;
}

/*** Logos ***/
.logos {
  @apply flex flex-wrap justify-start items-stretch;
  @apply -mx-0.5;
  @apply sm:flex-nowrap;
  @apply md:-mx-1;
}
.logos li {
  @apply w-1/4;
  @apply mb-1;
  @apply px-0.5;
  @apply sm:w-[12.5%];
  @apply md:px-1;
  @apply md:mb-2;
}
.logos li a {
  @apply block;
  @apply aspect-w-1 aspect-h-1;
  @apply bg-white;
}
.logos li a img {
  @apply p-2;
}

/*** Kontakt ***/
article#kontakt {
  @apply mb-0;
}
article#kontakt header {
  @apply mb-0;
}

/* Style scrollbar */
@screen lg {
  html, body { /* FF */
    scrollbar-width: thin;
    scrollbar-color: #2D3F49 #EEEEEE;
  }
  :root.nav-open, :root.overlay-open {
    scrollbar-color: #000000 #2D3F49;
  }
}
::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-gray-200;
  @apply dark:bg-gb;
}
::-webkit-scrollbar-thumb {
  @apply bg-gb-dark;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-logo;
}
.nav-open ::-webkit-scrollbar-track, .overlay-open ::-webkit-scrollbar-track {
  @apply bg-gb-dark;
}
.nav-open ::-webkit-scrollbar-thumb, .overlay-open ::-webkit-scrollbar-thumb {
  @apply bg-black;
}

/* purgecss end ignore */
